:root {
  --projects-bg: #e9daef2b;
  --text-color: #222;
  --subtext-color: #888;
}

[data-theme="dark"] {
  --projects-bg: rgba(50, 50, 50, 0.5);
  --text-color: #f0f0f0;
  --subtext-color: #ccc;
}

.projects {
  text-align: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--projects-bg);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.subtitulo {
  color: var(--subtext-color);
  margin-bottom: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  justify-content: center; 
  width: 80%; 
  max-width: 900px;
  gap: 2vh;
  margin-top: 10vh;
}

@media (max-width: 768px) {

  .projects-grid {
    grid-template-columns: 1fr;
    margin-top: 5vh;
  }
}
