.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2.5vh;
  border-bottom: 1px solid #e5cdeb;
}

.nav-menu {
  display: flex;
  align-items: flex-end;
  gap: 2vw;
  list-style: none;
  margin: 3vh 4vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.nav-menu a{
  text-decoration: none;
}

.nav-menu a:hover {
  color: #c86dd7;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #c86dd7, #7a56d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 3vh 4vw;
}
