*{
  margin:0;
  padding:0
}

body{
  height:100vh;
  background-color:#f8f4f9;
  color: black;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #faf5fc;
  color: #222;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
}
